
<div class="header">
  <h1>Welcome, <%= @user.first_name %></h1>

</div>

<main>
  <div class="column">
    <div class= "myevents">
      <h3>My Events</h3>

    </div>
    <div id="calendar">
      <!--Calendar  -->
      <%= image_tag "calendar.png" %>
    </div>
  </div>


  <aside>
    <!-- Events -->
    <% @events.each do |event| %>
    <div>
      <h3><%= event.event_name %></h3>
      <div>

        <p><%= event.event_location %></p>
        <p><%= event.event_date %></p>
        <p><%= event.event_description %></p>
      </div>
      <button>Add</button>
    </div>

    <br>
    <% end %>

  </aside>
</main>
