
<div class="header">
  <h4>Welcome, <%= @user.first_name %></h4>

</div>

<main class="row">
  <div class="col s5 offset-s1">
    <div class= "myevents">
      <h4 class="card-panel purple darken-4 white-text center-align">My Events</h4>
      <!-- Events -->
      <div id="event_list">
        <% @user.events.each do |event| %>
        <div class="row event-row">
          <p class= "sidebyside"><%= event.event_name %></p>
          <%= button_to "X", {:controller => :events, :action => 'destroy', :id => event.id }, :method => :delete, class: "btn-floating pulse sidebyside" %>
        </div>
        <% end %>
      </div>

    </div>

  </div>

  <!-- <div id="calendar"> -->
    <!--Calendar  -->
    <!-- <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %> -->
  <!-- </div> -->




  <aside class="col s5 offset-s0.5">

    <h4 class="card-panel purple darken-4 white-text center-align">Events around town</h4>
    <% @events.each do |event| %>
    <div class="row event-row">
      <p class= "sidebyside"><%= event.event_name %> <%= event.event_date %></p>
      <%= button_to "+", {:controller => :attendance, :action => 'create', :event_id => event.id }, :method => :create, class: "btn-floating pulse sidebyside" %>
    </div>
    <% end %>



  </aside>

</main>
