
<div class="header">
  <h1>Welcome, <%= @user.first_name %></h1>

</div>

<main>
  <div class="column">
    <div class= "myevents">
      <h3>My Events</h3>
      <!-- Events -->
      <div id="event_list">
        <% @events.each do |event| %>
        <div>
          <h3><%= event.event_name %></h3>
          <%= button_to "Delete", {:controller => :events,
      :action => 'destroy', :id => event.id }, :method => :delete %>
        </div>
        <% end %>
      </div>

    </div>

  </div>

  <!-- <div id="calendar"> -->
    <!--Calendar  -->
    <!-- <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
    <% end %> -->
  <!-- </div> -->




  <aside>


    <div id="info"></div>



  </aside>

</main>
