<div class="row">
<div class= "col s5 offset-s7 white center-align">
<%= form_for @user do |f|%>
<h2 class ="center-align">Sign Up</h2>

    <%= f.text_field :first_name, placeholder: "First Name" %>


    <%= f.text_field :last_name, placeholder: "Last Name" %>


    <%= f.text_field :email, placeholder: "Email" %>


    <%= f.password_field :password, placeholder: "Password" %>

  <%= f.submit "Sign Up", class: "center-align white-text purple lighten-4 btn" %>
  <% flash.each do |key, value| %>
  <div class="red-text alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% end %>
</div>
</div>
